<a href="https://colab.research.google.com/github/dpkasahu/Python_library/blob/main/emp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/whoknowayush/DataAnalysis-Dataset/refs/heads/main/Datasets-Practice/employee_data.csv')
df

,emp_id,full_name,age,gender,department,salary,join_date,exp_years,emp_status
0,101,John A. Smith,28.0,male,Sales,45000.0,2017-08-19,5.0,permanent
1,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
2,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
3,103,Mark O'Donnell,35.0,male,HR,52000.0,2016-03-11,8.0,NaN
4,104,Emily Jackson-Smith,29.0,female,R&D,65000.0,NaN,6.0,contract
5,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
6,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
7,105,Samuel L. Jackson,42.0,Male,IT,NaN,2015-07-01,12.0,permanent
8,106,Priya Ghosh,31.0,NaN,Marketing,58000.0,2019-01-10,4.0,contract
9,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
10,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
11,107,Susan M. Thompson,39.0,Female,IT,75000.0,2014-09-21,NaN,permanent
12,108,Brian P. McDonald,33.0,Male,HR,48000.0,2017-04-15,6.0,permanent
13,109,Sophia Y. Richardson,26.0,Female,IT,55000.0,2020-05-30,3.0,contract
14,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
15,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent

In [5]:
df.columns = df.columns.str.upper()
df

,EMP_ID,FULL_NAME,AGE,GENDER,DEPARTMENT,SALARY,JOIN_DATE,EXP_YEARS,EMP_STATUS
0,101,John A. Smith,28.0,male,Sales,45000.0,2017-08-19,5.0,permanent
1,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
2,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
3,103,Mark O'Donnell,35.0,male,HR,52000.0,2016-03-11,8.0,NaN
4,104,Emily Jackson-Smith,29.0,female,R&D,65000.0,NaN,6.0,contract
5,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
6,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
7,105,Samuel L. Jackson,42.0,Male,IT,NaN,2015-07-01,12.0,permanent
8,106,Priya Ghosh,31.0,NaN,Marketing,58000.0,2019-01-10,4.0,contract
9,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
10,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
11,107,Susan M. Thompson,39.0,Female,IT,75000.0,2014-09-21,NaN,permanent
12,108,Brian P. McDonald,33.0,Male,HR,48000.0,2017-04-15,6.0,permanent
13,109,Sophia Y. Richardson,26.0,Female,IT,55000.0,2020-05-30,3.0,contract
14,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
15,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent

In [10]:
df["JOIN_DATE"] = pd.to_datetime(df["JOIN_DATE"])
df["EMP_STATUS"] = df["EMP_STATUS"].str.lower()

/tmp/ipython-input-3496299800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["JOIN_DATE"] = pd.to_datetime(df["JOIN_DATE"])
/tmp/ipython-input-3496299800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMP_STATUS"] = df["EMP_STATUS"].str.lower()

In [11]:
df["ACTIVE"] = df["EMP_STATUS"] == "permanent"

/tmp/ipython-input-37598149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ACTIVE"] = df["EMP_STATUS"] == "permanent"

In [12]:
df[
    (df["ACTIVE"] == True) &
    (df["EXP_YEARS"] >= 5) &
    (df["SALARY"] > 50000)
]

,EMP_ID,FULL_NAME,AGE,GENDER,DEPARTMENT,SALARY,JOIN_DATE,EXP_YEARS,EMP_STATUS,ACTIVE
2,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True
6,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True
10,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True
14,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True

In [13]:
df

,EMP_ID,FULL_NAME,AGE,GENDER,DEPARTMENT,SALARY,JOIN_DATE,EXP_YEARS,EMP_STATUS,ACTIVE
2,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True
3,103,Mark O'Donnell,35.0,male,HR,52000.0,2016-03-11,8.0,NaN,False
4,104,Emily Jackson-Smith,29.0,female,R&D,65000.0,NaT,6.0,contract,False
6,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True
10,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True
14,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True

In [14]:
df["YEARS_WITH_COMPANY"] = 2025 - df["JOIN_DATE"].dt.year

/tmp/ipython-input-2992594046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["YEARS_WITH_COMPANY"] = 2025 - df["JOIN_DATE"].dt.year

In [15]:
df["SENIOR"] = df["EXP_YEARS"] >= 10

/tmp/ipython-input-2862635024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SENIOR"] = df["EXP_YEARS"] >= 10

In [16]:
df["FIRST_NAME"] = df["FULL_NAME"].str.split().str[0]
df["LAST_NAME"] = df["FULL_NAME"].str.split().str[-1]

/tmp/ipython-input-343901271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["FIRST_NAME"] = df["FULL_NAME"].str.split().str[0]
/tmp/ipython-input-343901271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LAST_NAME"] = df["FULL_NAME"].str.split().str[-1]

In [17]:
df["EXP_AGE_RATIO"] = df["EXP_YEARS"] / df["AGE"]

/tmp/ipython-input-705293998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EXP_AGE_RATIO"] = df["EXP_YEARS"] / df["AGE"]

In [18]:
df["NAME_LENGTH"] = df["FULL_NAME"].str.len()

/tmp/ipython-input-566775503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["NAME_LENGTH"] = df["FULL_NAME"].str.len()

In [20]:
df["DEPT_SENIORITY"] = df["DEPARTMENT"] + "_" + df["SENIOR"].astype(str)

/tmp/ipython-input-3397136055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["DEPT_SENIORITY"] = df["DEPARTMENT"] + "_" + df["SENIOR"].astype(str)

In [21]:
df["SALARY_RELATIVE"] = df["SALARY"] / df.groupby("DEPARTMENT")["SALARY"].transform("mean")

/tmp/ipython-input-1491859915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SALARY_RELATIVE"] = df["SALARY"] / df.groupby("DEPARTMENT")["SALARY"].transform("mean")

In [22]:
df =df.set_index("EMP_ID")

In [24]:
df = df.reset_index()
df

,index,EMP_ID,FULL_NAME,AGE,GENDER,DEPARTMENT,SALARY,JOIN_DATE,EXP_YEARS,EMP_STATUS,ACTIVE,YEARS_WITH_COMPANY,SENIOR,FIRST_NAME,LAST_NAME,EXP_AGE_RATIO,NAME_LENGTH,DEPT_SENIORITY,SALARY_RELATIVE
0,0,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True,15.0,True,Rajesh,Kumar,0.311111,12,Sales_True,1.0
1,1,103,Mark O'Donnell,35.0,male,HR,52000.0,2016-03-11,8.0,NaN,False,9.0,False,Mark,O'Donnell,0.228571,14,HR_False,1.0
2,2,104,Emily Jackson-Smith,29.0,female,R&D,65000.0,NaT,6.0,contract,False,NaN,False,Emily,Jackson-Smith,0.206897,19,R&D_False,1.0
3,3,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True,15.0,True,Rajesh,Kumar,0.311111,12,Sales_True,1.0
4,4,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True,15.0,True,Rajesh,Kumar,0.311111,12,Sales_True,1.0
5,5,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent,True,15.0,True,Rajesh,Kumar,0.311111,12,Sales_True,1.0

In [25]:
df.to_csv('emp_cleaned')