<a href="https://colab.research.google.com/github/dpkasahu/Python_library/blob/main/emp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd

In [55]:
df=pd.read_csv('https://raw.githubusercontent.com/whoknowayush/DataAnalysis-Dataset/refs/heads/main/Datasets-Practice/employee_data.csv')
df

,emp_id,full_name,age,gender,department,salary,join_date,exp_years,emp_status
0,101,John A. Smith,28.0,male,Sales,45000.0,2017-08-19,5.0,permanent
1,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
2,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
3,103,Mark O'Donnell,35.0,male,HR,52000.0,2016-03-11,8.0,NaN
4,104,Emily Jackson-Smith,29.0,female,R&D,65000.0,NaN,6.0,contract
5,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
6,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
7,105,Samuel L. Jackson,42.0,Male,IT,NaN,2015-07-01,12.0,permanent
8,106,Priya Ghosh,31.0,NaN,Marketing,58000.0,2019-01-10,4.0,contract
9,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
10,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
11,107,Susan M. Thompson,39.0,Female,IT,75000.0,2014-09-21,NaN,permanent
12,108,Brian P. McDonald,33.0,Male,HR,48000.0,2017-04-15,6.0,permanent
13,109,Sophia Y. Richardson,26.0,Female,IT,55000.0,2020-05-30,3.0,contract
14,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
15,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_id      16 non-null     int64
 1   full_name   16 non-null     object
 2   age         12 non-null     float64
 3   gender      15 non-null     object
 4   department  16 non-null     object
 5   salary      15 non-null     float64
 6   join_date   15 non-null     object
 7   exp_years   11 non-null     float64
 8   emp_status  15 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.3+ KB

In [57]:
mean=df['age'].mean()
df['age']=df['age'].fillna(mean).astype(int)
df

,emp_id,full_name,age,gender,department,salary,join_date,exp_years,emp_status
0,101,John A. Smith,28,male,Sales,45000.0,2017-08-19,5.0,permanent
1,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent
2,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent
3,103,Mark O'Donnell,35,male,HR,52000.0,2016-03-11,8.0,NaN
4,104,Emily Jackson-Smith,29,female,R&D,65000.0,NaN,6.0,contract
5,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent
6,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent
7,105,Samuel L. Jackson,42,Male,IT,NaN,2015-07-01,12.0,permanent
8,106,Priya Ghosh,31,NaN,Marketing,58000.0,2019-01-10,4.0,contract
9,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent
10,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent
11,107,Susan M. Thompson,39,Female,IT,75000.0,2014-09-21,NaN,permanent
12,108,Brian P. McDonald,33,Male,HR,48000.0,2017-04-15,6.0,permanent
13,109,Sophia Y. Richardson,26,Female,IT,55000.0,2020-05-30,3.0,contract
14,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent
15,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent

In [58]:
df.loc[8,'gender']='Female'

In [59]:
mean_IT_sal=df.groupby('department').get_group('IT')['salary'].mean()

In [60]:
df['salary']=df['salary'].fillna(mean_IT_sal)

In [61]:
df.columns = df.columns.str.upper()
df

,EMP_ID,FULL_NAME,AGE,GENDER,DEPARTMENT,SALARY,JOIN_DATE,EXP_YEARS,EMP_STATUS
0,101,John A. Smith,28,male,Sales,45000.0,2017-08-19,5.0,permanent
1,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent
2,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent
3,103,Mark O'Donnell,35,male,HR,52000.0,2016-03-11,8.0,NaN
4,104,Emily Jackson-Smith,29,female,R&D,65000.0,NaN,6.0,contract
5,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent
6,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent
7,105,Samuel L. Jackson,42,Male,IT,65000.0,2015-07-01,12.0,permanent
8,106,Priya Ghosh,31,Female,Marketing,58000.0,2019-01-10,4.0,contract
9,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent
10,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent
11,107,Susan M. Thompson,39,Female,IT,75000.0,2014-09-21,NaN,permanent
12,108,Brian P. McDonald,33,Male,HR,48000.0,2017-04-15,6.0,permanent
13,109,Sophia Y. Richardson,26,Female,IT,55000.0,2020-05-30,3.0,contract
14,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent
15,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent

In [62]:
df["JOIN_DATE"] = pd.to_datetime(df["JOIN_DATE"])
df["EMP_STATUS"] = df["EMP_STATUS"].str.lower()

In [63]:
df["ACTIVE"] = df["EMP_STATUS"] == "permanent"

In [64]:
df[
    (df["ACTIVE"] == True) &
    (df["EXP_YEARS"] >= 5) &
    (df["SALARY"] > 50000)
]

,EMP_ID,FULL_NAME,AGE,GENDER,DEPARTMENT,SALARY,JOIN_DATE,EXP_YEARS,EMP_STATUS,ACTIVE
2,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True
6,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True
7,105,Samuel L. Jackson,42,Male,IT,65000.0,2015-07-01,12.0,permanent,True
10,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True
14,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True

In [65]:
df

,EMP_ID,FULL_NAME,AGE,GENDER,DEPARTMENT,SALARY,JOIN_DATE,EXP_YEARS,EMP_STATUS,ACTIVE
0,101,John A. Smith,28,male,Sales,45000.0,2017-08-19,5.0,permanent,True
1,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent,True
2,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True
3,103,Mark O'Donnell,35,male,HR,52000.0,2016-03-11,8.0,NaN,False
4,104,Emily Jackson-Smith,29,female,R&D,65000.0,NaT,6.0,contract,False
5,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent,True
6,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True
7,105,Samuel L. Jackson,42,Male,IT,65000.0,2015-07-01,12.0,permanent,True
8,106,Priya Ghosh,31,Female,Marketing,58000.0,2019-01-10,4.0,contract,False
9,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent,True
10,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True
11,107,Susan M. Thompson,39,Female,IT,75000.0,2014-09-21,NaN,permanent,True
12,108,Brian P. McDonald,33,Male,HR,48000.0,2017-04-15,6.0,permanent,True
13,109,Sophia Y. Richardson,26,Female,IT,55000.0,2020-05-30,3.0,contract,False
14,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True
15,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent,True

In [66]:
df["YEARS_WITH_COMPANY"] = 2025 - df["JOIN_DATE"].dt.year

In [67]:
df["SENIOR"] = df["EXP_YEARS"] >= 10

In [68]:
df["FIRST_NAME"] = df["FULL_NAME"].str.split().str[0]
df["LAST_NAME"] = df["FULL_NAME"].str.split().str[-1]

In [69]:
df["EXP_AGE_RATIO"] = df["EXP_YEARS"] / df["AGE"]

In [70]:
df["NAME_LENGTH"] = df["FULL_NAME"].str.len()

In [71]:
df["DEPT_SENIORITY"] = df["DEPARTMENT"] + "_" + df["SENIOR"].astype(str)

In [72]:
df["SALARY_RELATIVE"] = df["SALARY"] / df.groupby("DEPARTMENT")["SALARY"].transform("mean")

In [73]:
df =df.set_index("EMP_ID")

In [74]:
df = df.reset_index()
df

,EMP_ID,FULL_NAME,AGE,GENDER,DEPARTMENT,SALARY,JOIN_DATE,EXP_YEARS,EMP_STATUS,ACTIVE,YEARS_WITH_COMPANY,SENIOR,FIRST_NAME,LAST_NAME,EXP_AGE_RATIO,NAME_LENGTH,DEPT_SENIORITY,SALARY_RELATIVE
0,101,John A. Smith,28,male,Sales,45000.0,2017-08-19,5.0,permanent,True,8.0,False,John,Smith,0.178571,13,Sales_False,0.555556
1,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent,True,7.0,False,Sarah-Louise,James,NaN,18,Marketing_False,0.968992
2,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True,15.0,True,Rajesh,Kumar,0.311111,12,Sales_True,1.111111
3,103,Mark O'Donnell,35,male,HR,52000.0,2016-03-11,8.0,NaN,False,9.0,False,Mark,O'Donnell,0.228571,14,HR_False,1.040000
4,104,Emily Jackson-Smith,29,female,R&D,65000.0,NaT,6.0,contract,False,NaN,False,Emily,Jackson-Smith,0.206897,19,R&D_False,1.000000
5,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent,True,7.0,False,Sarah-Louise,James,NaN,18,Marketing_False,0.968992
6,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True,15.0,True,Rajesh,Kumar,0.311111,12,Sales_True,1.111111
7,105,Samuel L. Jackson,42,Male,IT,65000.0,2015-07-01,12.0,permanent,True,10.0,True,Samuel,Jackson,0.285714,17,IT_True,1.000000
8,106,Priya Ghosh,31,Female,Marketing,58000.0,2019-01-10,4.0,contract,False,6.0,False,Priya,Ghosh,0.129032,11,Marketing_False,1.124031
9,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent,True,7.0,False,Sarah-Louise,James,NaN,18,Marketing_False,0.968992
10,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True,15.0,True,Rajesh,Kumar,0.311111,12,Sales_True,1.111111
11,107,Susan M. Thompson,39,Female,IT,75000.0,2014-09-21,NaN,permanent,True,11.0,False,Susan,Thompson,NaN,17,IT_False,1.153846
12,108,Brian P. McDonald,33,Male,HR,48000.0,2017-04-15,6.0,permanent,True,8.0,False,Brian,McDonald,0.181818,17,HR_False,0.960000
13,109,Sophia Y. Richardson,26,Female,IT,55000.0,2020-05-30,3.0,contract,False,5.0,False,Sophia,Richardson,0.115385,20,IT_False,0.846154
14,110,Rajesh Kumar,45,male,Sales,90000.0,2010-02-23,14.0,permanent,True,15.0,True,Rajesh,Kumar,0.311111,12,Sales_True,1.111111
15,102,Sarah-Louise James,36,female,Marketing,50000.0,2018-11-03,NaN,permanent,True,7.0,False,Sarah-Louise,James,NaN,18,Marketing_False,0.968992

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EMP_ID              16 non-null     int64
 1   FULL_NAME           16 non-null     object
 2   AGE                 16 non-null     int64
 3   GENDER              16 non-null     object
 4   DEPARTMENT          16 non-null     object
 5   SALARY              16 non-null     float64
 6   JOIN_DATE           15 non-null     datetime64[ns]
 7   EXP_YEARS           11 non-null     float64
 8   EMP_STATUS          15 non-null     object
 9   ACTIVE              16 non-null     bool
 10  YEARS_WITH_COMPANY  15 non-null     float64
 11  SENIOR              16 non-null     bool
 12  FIRST_NAME          16 non-null     object
 13  LAST_NAME           16 non-null     object
 14  EXP_AGE_RATIO       11 non-null     float64
 15  NAME_LENGTH         16 non-null     int64
 16  DEPT_SENIORITY      16 non-null     object
 17  SALARY_RELATIVE     16 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(5), int64(3), object(7)
memory usage: 2.2+ KB

In [77]:
df.to_csv('emp_cleaned')