<a href="https://colab.research.google.com/github/dpkasahu/numpy/blob/main/gfgpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
s1=pd.Series([1,2,3,4,5,'hello',[1,2,3]])
s1

0            1
1            2
2            3
3            4
4            5
5        hello
6    [1, 2, 3]
dtype: object

In [6]:
arr=np.array([1,2,3,4,'deepika',[1,2,3,4]])
arr

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (6,) + inhomogeneous part.

Pandas is open-source Python library which is used for data manipulation and analysis. It consists of data structures and functions to perform efficient operations on data. It is well-suited for working with tabular data such as spreadsheets or SQL tables. It is used in data science because it works well with other important libraries. It is built on top of the NumPy library as it makes easier to manipulate and analyze. Pandas is used in other libraries such as:

Matplotlib for plotting graphs
SciPy for statistical analysis
Scikit-learn for machine learning algorithms.
It uses many functionalities provided by NumPy library.

Here is a various tasks that we can do using Pandas:
Data Cleaning, Merging and Joining: Clean and combine data from multiple sources, handling inconsistencies and duplicates.
Handling Missing Data: Manage missing values (NaN) in both floating and non-floating point data.
Column Insertion and Deletion: Easily add, remove or modify columns in a DataFrame.
Group By Operations: Use "split-apply-combine" to group and analyze data.
Data Visualization: Create visualizations with Matplotlib and Seaborn, integrated with Pandas.

In [ ]:
#Pandas provides two data structures for manipulating data.
# 1.Pandas Series
# 2.Pandas DataFrame