<a href="https://colab.research.google.com/github/dpkasahu/Python_library/blob/main/hr_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df1=pd.read_csv('https://raw.githubusercontent.com/whoknowayush/DataAnalysis-Dataset/refs/heads/main/Datasets-Practice/hr_data.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   employee_id            14999 non-null  int64
 1   number_project         14999 non-null  int64
 2   average_montly_hours   14999 non-null  int64
 3   time_spend_company     14999 non-null  int64
 4   Work_accident          14999 non-null  int64
 5   left                   14999 non-null  int64
 6   promotion_last_5years  14999 non-null  int64
 7   department             14999 non-null  object
 8   salary                 14999 non-null  object
dtypes: int64(7), object(2)
memory usage: 1.0+ MB

In [6]:
df1.groupby('salary').get_group('high').groupby('department').get_group('sales').groupby('number_project').get_group(2)

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
774,5398,2,152,3,0,1,0,sales,high
1398,8921,2,156,3,0,1,0,sales,high
2763,16544,2,184,2,0,0,0,sales,high
3307,19826,2,148,3,0,0,0,sales,high
4131,24551,2,154,4,0,0,0,sales,high
4132,58727,2,201,2,0,0,0,sales,high
5197,30581,2,157,6,0,0,0,sales,high
5523,32519,2,106,2,0,0,1,sales,high
5662,33214,2,140,4,0,0,0,sales,high
7420,43918,2,204,3,0,0,0,sales,high
7492,70662,2,96,2,0,0,0,sales,high
7803,46108,2,115,3,0,0,0,sales,high
7957,27255,2,107,4,0,0,0,sales,high
8115,47948,2,188,2,0,0,0,sales,high
9858,58137,2,180,2,0,0,0,sales,high
11019,64655,2,285,3,0,0,0,sales,high
11196,36376,2,274,10,0,0,0,sales,high
11203,65691,2,162,3,1,0,0,sales,high
12774,76187,2,152,3,0,1,0,sales,high
13230,82572,2,285,3,0,0,0,sales,high
13407,78345,2,274,10,0,0,0,sales,high
13414,54996,2,162,3,1,0,0,sales,high

In [9]:
df1.groupby('department').get_group('support').groupby('number_project').get_group(2)['time_spend_company'].sum()

np.int64(1110)