<a href="https://colab.research.google.com/github/dpkasahu/Python_library/blob/main/pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
s1=pd.Series([10,20,30,'hello',[1,2,3]])
s2=pd.Series([1,2,3,4,5,6])
s1+s2

In [ ]:
s1=pd.Series([10,20,30,'hello',[1,2,3]], name='marks')
# s1[:2]
# s1[::-1]
s1[:4]

0       10
1       20
2       30
3    hello
Name: marks, dtype: object

In [ ]:
import pandas as pd

s = pd.Series([10, 20, 30])
print(s + 5)      # adds 5 to each value
print(s * 2)      # multiplies each value by 2

In [ ]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40])
s2 = pd.Series([1, 2, 3, 4])

print("Series 1:\n", s1)
print("Series 2:\n", s2)

Series 1:
 0    10
1    20
2    30
3    40
dtype: int64
Series 2:
 0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
print("Addition:\n", s1 + s2)
print("Subtraction:\n", s1 - s2)
print("Multiplication:\n", s1 * s2)
print("Division:\n", s1 / s2)
print("Floor Division:\n", s1 // s2)
print("Modulo:\n", s1 % s2)
print("Power:\n", s1 ** s2)

Addition:
 0    11
1    22
2    33
3    44
dtype: int64
Subtraction:
 0     9
1    18
2    27
3    36
dtype: int64
Multiplication:
 0     10
1     40
2     90
3    160
dtype: int64
Division:
 0    10.0
1    10.0
2    10.0
3    10.0
dtype: float64
Floor Division:
 0    10
1    10
2    10
3    10
dtype: int64
Modulo:
 0    0
1    0
2    0
3    0
dtype: int64
Power:
 0         10
1        400
2      27000
3    2560000
dtype: int64

In [ ]:
print("Greater Than:\n", s1 > s2)
print("Less Than:\n", s1 < s2)
print("Equal:\n", s1 == s2)
print("Not Equal:\n", s1 != s2)

Greater Than:
 0    True
1    True
2    True
3    True
dtype: bool
Less Than:
 0    False
1    False
2    False
3    False
dtype: bool
Equal:
 0    False
1    False
2    False
3    False
dtype: bool
Not Equal:
 0    True
1    True
2    True
3    True
dtype: bool

In [ ]:
cond1 = s1 > 15     # True where s1 > 15
cond2 = s2 < 4      # True where s2 < 4

print("Logical AND:\n", cond1 & cond2)
print("Logical OR:\n", cond1 | cond2)
print("Logical NOT on cond1:\n", ~cond1)

Logical AND:
 0    False
1     True
2     True
3    False
dtype: bool
Logical OR:
 0    True
1    True
2    True
3    True
dtype: bool
Logical NOT on cond1:
 0     True
1    False
2    False
3    False
dtype: bool

In [ ]:
import pandas as pd

s = pd.Series([10, 20, 30, 40, 50], index=['a','b','c','d','e'])
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

DATAFRAME

In [ ]:
df = pd.DataFrame({'name':['deepika','bapun'],
                   'marks':[98,89],
                   'rollno':[76,129]})
df

      name  marks  rollno
0  deepika     98      76
1    bapun     89     129

In [ ]:
df = pd.DataFrame({'name':['deepika','bapun','deeya','parth','deepa'],
                   'rating':[1,3,2,1,2],
                   'qualification':['mca','bsc','it','btech','mtech']})
df

      name  rating qualification
0  deepika       1           mca
1    bapun       3           bsc
2    deeya       2            it
3    parth       1         btech
4    deepa       2         mtech

In [ ]:
df=pd.read_csv('/content/employee_data .csv')
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/whoknowayush/DataAnalysis-Dataset/refs/heads/main/Datasets-Practice/employee_data.csv')
df['emp_status']

0     permanent
1     permanent
2     permanent
3           NaN
4      contract
5     permanent
6     permanent
7     permanent
8      contract
9     permanent
10    permanent
11    permanent
12    permanent
13     contract
14    permanent
15    permanent
Name: emp_status, dtype: object

Create dataframe

In [61]:
import pandas as pd
df=pd.DataFrame({'employees':['emp1','emp2','emp3','emp4','emp5','emp6','emp7','emp8','emp9','emp10'],
                 'emp_name':['deepika','yamini','deeya','disha','bapun','mini','yami','chitra','khiti','parth'],
                 'emp_loc':["odisha",'up','hyd','mumbai','chennai','america','lucknow','varanasi','tripura','bbsr'],
                 'emp_sal':[1000,2000,3000,4000,50000,6000,7000,8000,9000,20000],
                 'emp_designation':['manager','developer','tester','analyst','designer','engineer','hr','admin','lead','associate'],
                 'emp_id':[1,2,3,4,5,6,7,8,9,10]})
df['emp_exp']=[1,2,3,4,5,6,7,8,9,10]
df

  employees emp_name   emp_loc  emp_sal emp_designation  emp_id  emp_exp
0      emp1  deepika    odisha     1000         manager       1        1
1      emp2   yamini        up     2000       developer       2        2
2      emp3    deeya       hyd     3000          tester       3        3
3      emp4    disha    mumbai     4000         analyst       4        4
4      emp5    bapun   chennai    50000        designer       5        5
5      emp6     mini   america     6000        engineer       6        6
6      emp7     yami   lucknow     7000              hr       7        7
7      emp8   chitra  varanasi     8000           admin       8        8
8      emp9    khiti   tripura     9000            lead       9        9
9     emp10    parth      bbsr    20000       associate      10       10

In [63]:
df1=pd.DataFrame({'cust':['cust1','cust2','cust3','cust4','cust5','cust6','cust7','cust8','cust9','cust10'],
                  'cust_name':['Alu','jilu','Chil','David','ginis','guni','hira','Hena','jeera','kili'],
                  'cust_phno':['111-222-3333','222-333-4444','333-444-5555','444-555-6666','555-666-7777','666-777-8888','777-888-9999','888-999-0000','999-000-1111','000-111-2222'],
                  'cust_rating':[1,2,3,2,3,2,4,4,2,3]})
df1['cust_desc']=['good','bad','good','bad','good','bad','good','bad','good','bad']
df1

     cust cust_name     cust_phno  cust_rating cust_desc
0   cust1       Alu  111-222-3333            1      good
1   cust2      jilu  222-333-4444            2       bad
2   cust3      Chil  333-444-5555            3      good
3   cust4     David  444-555-6666            2       bad
4   cust5     ginis  555-666-7777            3      good
5   cust6      guni  666-777-8888            2       bad
6   cust7      hira  777-888-9999            4      good
7   cust8      Hena  888-999-0000            4       bad
8   cust9     jeera  999-000-1111            2      good
9  cust10      kili  000-111-2222            3       bad

In [67]:
from IPython.lib.security import random
df=pd.read_csv('https://raw.githubusercontent.com/whoknowayush/DataAnalysis-Dataset/refs/heads/main/Datasets-Practice/employee_data.csv')
# print(df)
df1=df['emp_id'][:5]
df2=df['full_name'][:5]
df3=df['age'][:5]
df4=df['gender'][:5]
df5=df['department'][:5]
df6=df['salary'][:5]
df['phone_num'] = np.random.randint(1000000000, 9999999999, size=len(df))
# df8=df['emp_status'][:5]
# df9=df['exp_years'][:5]
print(df2)
print(df1)
print(df3)
print(df4)
print(df5)
print(df6)
# print(df8)
# print(df9)

0          John A. Smith
1     Sarah-Louise James
2           Rajesh Kumar
3         Mark O'Donnell
4    Emily Jackson-Smith
Name: full_name, dtype: object
0    101
1    102
2    110
3    103
4    104
Name: emp_id, dtype: int64
0    28.0
1     NaN
2    45.0
3    35.0
4    29.0
Name: age, dtype: float64
0      male
1    female
2      male
3      male
4    female
Name: gender, dtype: object
0        Sales
1    Marketing
2        Sales
3           HR
4          R&D
Name: department, dtype: object
0    45000.0
1    50000.0
2    90000.0
3    52000.0
4    65000.0
Name: salary, dtype: float64

In [29]:
df.head() #by default it will give 5 rows
df.head(20) # we can return 20 number of rows , we can write there how many we want

,emp_id,full_name,age,gender,department,salary,join_date,exp_years,emp_status
0,101,John A. Smith,28.0,male,Sales,45000.0,2017-08-19,5.0,permanent
1,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
2,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
3,103,Mark O'Donnell,35.0,male,HR,52000.0,2016-03-11,8.0,NaN
4,104,Emily Jackson-Smith,29.0,female,R&D,65000.0,NaN,6.0,contract
5,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
6,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
7,105,Samuel L. Jackson,42.0,Male,IT,NaN,2015-07-01,12.0,permanent
8,106,Priya Ghosh,31.0,NaN,Marketing,58000.0,2019-01-10,4.0,contract
9,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent
10,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
11,107,Susan M. Thompson,39.0,Female,IT,75000.0,2014-09-21,NaN,permanent
12,108,Brian P. McDonald,33.0,Male,HR,48000.0,2017-04-15,6.0,permanent
13,109,Sophia Y. Richardson,26.0,Female,IT,55000.0,2020-05-30,3.0,contract
14,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
15,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent

In [30]:
df.tail() #it will return last 5 rows

,emp_id,full_name,age,gender,department,salary,join_date,exp_years,emp_status
11,107,Susan M. Thompson,39.0,Female,IT,75000.0,2014-09-21,NaN,permanent
12,108,Brian P. McDonald,33.0,Male,HR,48000.0,2017-04-15,6.0,permanent
13,109,Sophia Y. Richardson,26.0,Female,IT,55000.0,2020-05-30,3.0,contract
14,110,Rajesh Kumar,45.0,male,Sales,90000.0,2010-02-23,14.0,permanent
15,102,Sarah-Louise James,NaN,female,Marketing,50000.0,2018-11-03,NaN,permanent

In [32]:
df.describe() #overall statistic of the numerical data present inside a dataset

           emp_id        age        salary  exp_years
count   16.000000  12.000000     15.000000  11.000000
mean   105.687500  36.916667  63866.666667   9.090909
std      3.458685   7.427937  17903.976680   4.526689
min    101.000000  26.000000  45000.000000   3.000000
25%    102.000000  30.500000  50000.000000   5.500000
50%    105.500000  37.000000  55000.000000   8.000000
75%    109.250000  45.000000  82500.000000  14.000000
max    110.000000  45.000000  90000.000000  14.000000

In [35]:
df.info() #provide the information of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_id      16 non-null     int64
 1   full_name   16 non-null     object
 2   age         12 non-null     float64
 3   gender      15 non-null     object
 4   department  16 non-null     object
 5   salary      15 non-null     float64
 6   join_date   15 non-null     object
 7   exp_years   11 non-null     float64
 8   emp_status  15 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.3+ KB

In [36]:
df.columns

Index(['emp_id', 'full_name', 'age', 'gender', 'department', 'salary',
       'join_date', 'exp_years', 'emp_status'],
      dtype='object')

In [38]:
dtf = pd.read_csv('https://raw.githubusercontent.com/whoknowayush/DataAnalysis-Dataset/refs/heads/main/Datasets-Practice/hr_data.csv')
dtf.head()

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low

In [41]:
dtf.tail(20)
dtf.describe()

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,45424.627575,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,25915.900127,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,1003.000000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,22872.500000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,45448.000000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,67480.500000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,99815.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [42]:
dtf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   employee_id            14999 non-null  int64
 1   number_project         14999 non-null  int64
 2   average_montly_hours   14999 non-null  int64
 3   time_spend_company     14999 non-null  int64
 4   Work_accident          14999 non-null  int64
 5   left                   14999 non-null  int64
 6   promotion_last_5years  14999 non-null  int64
 7   department             14999 non-null  object
 8   salary                 14999 non-null  object
dtypes: int64(7), object(2)
memory usage: 1.0+ MB

In [45]:
dtf.columns

Index(['employee_id', 'number_project', 'average_montly_hours',
       'time_spend_company', 'Work_accident', 'left', 'promotion_last_5years',
       'department', 'salary'],
      dtype='object')

In [46]:
dtf1=pd.read_csv('https://raw.githubusercontent.com/whoknowayush/DataAnalysis-Dataset/refs/heads/main/Datasets-Practice/titanic.csv')
dtf1

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [47]:
# dtf1.head()
# dtf1.head(10)
# dtf1.tail()
# dtf1.describe()
# dtf1.info()
dtf1.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'survived'],
      dtype='object')

In [65]:
# dtf3.loc(row slicing,column slicing)
dtf3.loc[1:10,['Location','Time']]
#if multiple columns are there wrap them isnide a square bracket.

               Location    Time
1               Albania  2030.0
2               Algeria  2030.0
3                Angola  2030.0
4   Antigua and Barbuda  2030.0
5             Argentina  2030.0
6               Armenia  2030.0
7                 Aruba  2030.0
8             Australia  2030.0
9               Austria  2030.0
10           Azerbaijan  2030.0

In [48]:
dtf3=pd.read_excel('/content/population.xlsx')
dtf3.head()

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4.0,Afghanistan,2030.0,0-4,0.0,5.0,3020.571,2871.955,5892.526
1,8.0,Albania,2030.0,0-4,0.0,5.0,68.824,63.581,132.405
2,12.0,Algeria,2030.0,0-4,0.0,5.0,2116.681,2026.749,4143.430
3,24.0,Angola,2030.0,0-4,0.0,5.0,3714.206,3649.187,7363.393
4,28.0,Antigua and Barbuda,2030.0,0-4,0.0,5.0,3.452,3.354,6.806

In [58]:
dtf3.loc[[1,2,4],['Location','Time']]
#it is used to retrieve specific rows and columns

              Location    Time
1              Albania  2030.0
2              Algeria  2030.0
4  Antigua and Barbuda  2030.0

In [59]:
dtf3.iloc[1:23,2:5]

      Time AgeGrp  AgeGrpStart
1   2030.0    0-4          0.0
2   2030.0    0-4          0.0
3   2030.0    0-4          0.0
4   2030.0    0-4          0.0
5   2030.0    0-4          0.0
6   2030.0    0-4          0.0
7   2030.0    0-4          0.0
8   2030.0    0-4          0.0
9   2030.0    0-4          0.0
10  2030.0    0-4          0.0
11  2030.0    0-4          0.0
12  2030.0    0-4          0.0
13  2030.0    0-4          0.0
14  2030.0    0-4          0.0
15  2030.0    0-4          0.0
16  2030.0    0-4          0.0
17  2030.0    0-4          0.0
18  2030.0    0-4          0.0
19  2030.0    0-4          0.0
20  2030.0    0-4          0.0
21  2030.0    0-4          0.0
22  2030.0    0-4          0.0

In [60]:
dtf3.iloc[1:10,:4]

   LocID             Location    Time AgeGrp
1    8.0              Albania  2030.0    0-4
2   12.0              Algeria  2030.0    0-4
3   24.0               Angola  2030.0    0-4
4   28.0  Antigua and Barbuda  2030.0    0-4
5   32.0            Argentina  2030.0    0-4
6   51.0              Armenia  2030.0    0-4
7  533.0                Aruba  2030.0    0-4
8   36.0            Australia  2030.0    0-4
9   40.0              Austria  2030.0    0-4