<a href="https://colab.research.google.com/github/dpkasahu/Python_library/blob/main/titanic_data3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/whoknowayush/DataAnalysis-Dataset/refs/heads/main/Datasets-Practice/titanic.csv')
df.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0

In [3]:
# df['title'] = df['name'].str.split(',').str[1].str.split('.').str[0].str.strip()
df['title'] = [name.split(',')[1].split('.')[0].strip() for name in df['name']]
df['fname'] = df['name'].str.extract(r'\.\s*([A-Za-z]+)')[0]
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived,title,fname
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1,Miss,Elisabeth
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1,Master,Hudson
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0,Miss,Helen
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0,Mr,Hudson
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0,Mrs,Hudson
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0,Miss,Hileni
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0,Miss,Thamine
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0,Mr,Mapriededer
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0,Mr,Ortin
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0,Mr,Leo

In [4]:
df.groupby('pclass')

In [ ]:
df['pclass'].unique()

In [6]:
df['pclass'].value_counts()

pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [8]:
df.groupby('survived').get_group(1)

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived,title,fname
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1,Miss,Elisabeth
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1,Master,Hudson
5,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,1,Mr,Harry
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,1,Miss,Kornelia
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,1,Mrs,Edward
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,3,"Turkula, Mrs. (Hedwig)",female,63.0000,0,0,4134,9.5875,NaN,S,1,Mrs,NaN
1277,3,"Vartanian, Mr. David",male,22.0000,0,0,2658,7.2250,NaN,C,1,Mr,David
1286,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0,0,2688,7.2292,NaN,C,1,Mrs,George
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1,0,363272,7.0000,NaN,S,1,Mrs,James
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1,0,2659,14.4542,NaN,C,1,Mrs,Antoni

In [9]:
df.groupby('sex').get_group('female').groupby('survived').get_group(1)

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived,title,fname
0,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,1,Miss,Elisabeth
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,1,Miss,Kornelia
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,1,Mrs,Edward
11,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,PC 17757,227.5250,C62 C64,C,1,Mrs,John
12,1,"Aubart, Mme. Leontine Pauline",female,24.0,0,0,PC 17477,69.3000,B35,C,1,Mme,Leontine
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260,3,"Turja, Miss. Anna Sofia",female,18.0,0,0,4138,9.8417,NaN,S,1,Miss,Anna
1261,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,1,Mrs,NaN
1286,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,1,Mrs,George
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,Mrs,James
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,1,Mrs,Antoni

In [11]:
df[(df['sex']=='female') & (df['survived']==1)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived,title,fname
0,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,1,Miss,Elisabeth
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,1,Miss,Kornelia
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,1,Mrs,Edward
11,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,PC 17757,227.5250,C62 C64,C,1,Mrs,John
12,1,"Aubart, Mme. Leontine Pauline",female,24.0,0,0,PC 17477,69.3000,B35,C,1,Mme,Leontine
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260,3,"Turja, Miss. Anna Sofia",female,18.0,0,0,4138,9.8417,NaN,S,1,Miss,Anna
1261,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,1,Mrs,NaN
1286,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,1,Mrs,George
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,Mrs,James
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,1,Mrs,Antoni

In [17]:
#age>25 sibsp=2 embarked=s
# df[(df['age']>25)&(df['sibsp']==2)&(df['embarked']=='S')]
temp = df.groupby('sibsp').get_group(2) \
         .groupby('embarked').get_group('S')
result = temp[temp['age'] > 25]
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived,title,fname
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1,Miss,Elisabeth
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1,Master,Hudson
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0,Miss,Helen
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0,Mr,Hudson
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0,Mrs,Hudson
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0,Miss,Hileni
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0,Miss,Thamine
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0,Mr,Mapriededer
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0,Mr,Ortin
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0,Mr,Leo